<div data-controller="home">

  <div class="pt-10 head">
    <h1 class="main-title">/ˈkʌmftəbl/</h1>
  </div>

  <div class="main rounded-xl bg-white">

    <div class="relative w-full">
      <input class="pl-3 text-emerald-50 bg-green-950 w-full outline-none rounded-xl rounded-b-none h-[60px] md:h-[72px]" data-home-target="word" type="text" placeholder="Write a word">
      <button class="bg-green-500 px-5 py-3 rounded-lg font-medium absolute right-1.5 md:right-3 top-1.5 md:top-3" data-action="click->home#search" data-home-target="button">Search</button>
      <div data-home-target="result"></div>
    </div>

    <h2 class="text-center">Suggested words</h2>

    <ul class="flex" data-home-target="wordList">
      <li class="flex-none m-1"><a href="#" class="tag-word">success</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">order</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">acknowledge</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">rural</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">nauseous</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">thorough</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">schedule</a></li>
      <li class="flex-none m-1"><a href="#" class="tag-word">comfortable</a></li>
    </ul>

  </div>

</div>
